/*
*/
#wrapper
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#registerheader
{
    padding: 0px;
    margin: 0px;
}

p
{
    padding: 0px;
    margin: 0px;
}

#wikiimage
{
    max-width: 200px;
    max-height: 300px;
}

#editorfield
{
    width: 70%;
    height: 500px;
}


#menubar 
{
    background-color: lightsteelblue;
    width: 15%;
    height: 105%;
    margin-top: -25px;
    min-width: 225px;
    max-width: 300px;
    margin-left: -25px;
    position: fixed;
    border-right: solid;
    border-right-color: lightslategray;
}

#menuloginsection
{
    margin-top:20%;
    margin-left: 20%;
    box-sizing: border-box;
}

#menutopwrapper
{
    margin-top: -20%;
    height: 100px;
    position: relative;
}

#maincontent
{
    margin-left: 300px;
}

.menubutton
{
    background-color: powderblue;
    width: 98.8%;
    min-height: 50px;
    height: 7%;
    position: relative;
    text-align: center;
    font-size: 28px;
    font-style: oblique;
    border: solid;
    border-color: lightslategray;
    line-height: 60px;
    margin: 0;
    padding: 0;
}

#wikigentitle
{
    font-size: 60px;
    margin: auto;
}

#wikigenfield
{
    min-height: 600px;
}

a
{
    text-decoration: none;
    color: darkblue;
}

#menusearch
{
    margin-left: 20%;
}

#loggeduser
{
    margin-left: 20%;
    margin-top: 20%;
}

#logoutbutton
{
    margin-left: 20%;
    margin-bottom: 5%;
}

#menusearch
{
    background-color: powderblue;
    position: absolute;
    margin-left: 100%;
    margin-top: -27%;
    border: solid;
    border-color: lightslategray;
    padding: 0px;
    display: none;
}

#menulogindiv
{
    background-color: powderblue;
    position: absolute;
    margin-left: 100%;
    margin-top: -27%;
    border: solid;
    border-color: lightslategray;
    padding: 0px;
    display: none;
}

#regbutton
{
    font-size: 28px;
}

#registerbutton
{
    background-color: azure;
    border: solid;
    border-color: silver;
    border-width: thin;
    display: inline-block;
    width: 30%;
}